<div class="modal " id="modalAddProductCart" tabindex="-1" role="dialog" style="">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tambah Barang</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="table-add-product-cart"
               data-search="true"
               data-page-list="[10]"
               data-pagination="true"
               data-show-footer="true"
               data-search-align="left">
        </table>
      </div>
    </div>
  </div>
</div>