<!-- Load framework javascript or third party -->
<script src="{{ .StaticUrl }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/alertifyjs/alertify.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="{{ .StaticUrl }}/vendor/fontawesome/js/all.js" data-search-pseudo-elements></script>

<!-- Load custom javascript -->
<script src="{{ .StaticUrl }}/js/utils/errors.js"></script>
<script src="{{ .StaticUrl }}/js/utils/constant.js"></script>
<script src="{{ .StaticUrl }}/js/utils/qty_formatter.js"></script>
<script src="{{ .StaticUrl }}/js/utils/price_formatter.js"></script>
<script src="{{ .StaticUrl }}/js/utils/user_profile.js"></script>

<!-- Page level javascript -->
<script src="{{ .StaticUrl }}/js/pos/carts.js"></script>
<script src="{{ .StaticUrl }}/js/pos/payment.js"></script>
<script src="{{ .StaticUrl }}/js/pos/table-carts.js"></script>
<script src="{{ .StaticUrl }}/js/pos/search_barcode.js"></script>
<script src="{{ .StaticUrl }}/js/pos/transactional.js"></script>
<script src="{{ .StaticUrl }}/js/pos/modal/add-member.js"></script>
<script src="{{ .StaticUrl }}/js/pos/modal/get-member.js"></script>
<script src="{{ .StaticUrl }}/js/pos/modal/get-product.js"></script>
<script src="{{ .StaticUrl }}/js/pos/table-pos-product.js"></script>
<script src="{{ .StaticUrl }}/js/pos/modal/add-product-cart.js"></script>
