<!DOCTYPE html>
<html lang="en">

{{ template "web/template/pos/header" . }}

<body class="pos body-custom">
<p style="display: none" id="baseURL">{{ .BaseURL }}</p>
<p style="display: none" id="serverURL">{{ .ServerURL }}</p>
<nav class="navbar navbar-dark navbar-color" role="navigation">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><p class="navbar-brand">Toko Baba</p></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="navbar-brand" id="full_name" style="text-decoration : none"></a></li>
        </ul>
    </div>
</nav>
{{ template "web/template/pos/content" . }}

{{ template "web/template/pos/modal/add-member" . }}
{{ template "web/template/pos/modal/add-product-cart" . }}
{{ template "web/template/pos/modal/payment" . }}
</body>
{{ template "web/template/pos/footer" . }}
</html>