<div class="well contents"
     style="margin-right:20px; height: 533px; padding: 20px; background-color:white; border-radius: 5px; box-shadow: 1px 2px 4px;">
    <div>
        <div style="text-align: center;">
            <h4><b>TOKO BABA</b></h4>
            <p>JL Raya 1234 </p>
            <p>Telp : 089521212120210</p>
            <p>Rabu, 09/08/2021 15:00</p>
        </div>
        <div>
            <p>========================================================================</p>
            <div class="row">
                <div class="col-3">
                    Nama
                </div>
                <div class="col-3" style="text-align: center;">
                    Qty
                </div>
                <div class="col-3" style="text-align: center;">
                    Harga
                </div>
                <div class="col-3" style="text-align: center;">
                    Total
                </div>
            </div>
            <p>========================================================================</p>
            <div class="keep-scrolling">
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        DJI SAM SOE
                    </div>
                    <div class="col-3" style="text-align: center;">
                        2
                    </div>
                    <div class="col-3" style="text-align: center;">
                        10.300
                    </div>
                    <div class="col-3" style="text-align: center;">
                        20.600
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <p>Terimakasih</p>
            <p>Kasir : Admin</p>
            <p>========================================================================</p>
        </div>
    </div>
    <!--    <table id="tableProducts"-->
<!--           data-search="true"-->
<!--           data-page-list="[10]"-->
<!--           data-pagination="true"-->
<!--           data-show-footer="true"-->
<!--           data-search-align="left"-->
<!--           data-side-pagination="server"-->
<!--           data-ajax="ajaxProductRequest"-->
<!--           data-header-style="headerTblProduct">-->
<!--    </table>-->
</div>