<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/png" sizes="96x96" rel="icon" href="{{ .StaticUrl }}/img/favicon.png">

    <!-- Load framework css or third party -->
    <link href="{{ .StaticUrl }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .StaticUrl }}/vendor/alertifyjs/css/alertify.min.css" rel="stylesheet">
    <link href="{{ .StaticUrl }}/vendor/alertifyjs/css/themes/bootstrap.min.css" rel="stylesheet">

    <!-- Page level javascript -->
    <link rel="stylesheet" type="text/css" href="{{ .StaticUrl }}/css/login/util.css">
    <link rel="stylesheet" type="text/css" href="{{ .StaticUrl }}/css/login/main.css">
</head>